<div class = "container">

    <div class = "post-item">
        <h2><a href="{{ include.post.url }}">{{ include.post.title }}</a></h2>
            <div class = "item-label">
                <!-- <img src="/assets/images/icon-tag.svg" alt="tags: " width="20px" height="20px"> -->
            {%for tag in include.post.tags%}
                <span class = "label-item"><span>{{tag}}</span></span>
            {% endfor %}
            </div>
        <!-- <summary>{{ post.excerpt }}</summary> -->
        <div class = "post-meta">
            <img src="https://avatars.githubusercontent.com/{{include.post.author}}" width="32px" height="32px">
            <span>{{include.post.author}}</span>
            <span></span>
        </div>
    </div>
</div>