<div class="pagination">
    
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="paginator-container">
    {% else %}
    <a style = "visibility: hidden;" class="paginator-container">
    {% endif %}        
        <img class = "paginator-button" src="/assets/images/icon-nevigate-prev.svg" alt="tags: " width="32px" height="32px">
        <span>prev page</span>
    </a>
    
    <div class = 'spacer'></div>
    <!-- <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span> -->

    <span id = "paginator-number">
        {% assign a = paginator.page | minus:'3' %}
        {% assign b = paginator.page | plus:'3' %}
        {% assign c = paginator.total_pages | plus:'1' %}

        {% for i in (a..b) limit: 10 %}
            {% if i <= 0 %}
                {% continue %}
            {% endif %}

            {% if i == c %}
                {% break %}
            {% endif %}

            {% if i == paginator.page %}
                <span id = "paginator-current">{{i}}</span>
            {% else %}
                <span>{% if i == 1 %}<a href = "/">{{i}}</a>{% else %}<a href = "/{{i}}">{{i}}</a>{% endif %}</span>
            {% endif %}
        {% endfor %}
    </span>

    <div class = 'spacer'></div>

    
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="paginator-container">
    {% else %}
    <a style = "visibility: hidden;" class="paginator-container">
    {% endif %}    
        <span>next page</span>
        <img class = "paginator-button" src="/assets/images/icon-nevigate-next.svg" alt="tags: " width="32px" height="32px">
    </a>
</div>