<div class="pagination">
    
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="paginator-container">
            <img class = "paginator-button" src="/assets/images/icon-nevigate-prev.svg" alt="tags: " width="32px" height="32px">
            <span>prev page</span>
        </a>
    {% endif %}
    <div class = 'spacer'></div>
    <!-- <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span> -->
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="paginator-container">
            <span>next page</span>
            <img class = "paginator-button" src="/assets/images/icon-nevigate-next.svg" alt="tags: " width="32px" height="32px">
        </a>
    {% endif %}
    
</div>