#main {
    width: 720px;
}

#content {
	background-color: #373737;
}

* {
	color: white;
}

body {
    background-color: #06090c;
    display: flex;
	justify-content: center;
	margin: 0;
}

a {
	text-decoration: none;
	color: #509dff;
}

a:active, a:focus {
	outline: none;
}

h1, h2 {
  	margin: 0;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 250px;
	font-size: 60pt;
}

footer {
	background-color: #1a7a4c;
	padding: 1.1em;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	color: #fff;
}