.content-body {
    padding: var(--standard-padding);
    margin-bottom: 16px;
    border-left: 6px solid #ccc;
    transition: all 0.2s ease-in-out;
}

.content-body:hover {
    background-color: #f5f5f5;
    border-left: 6px solid #515151;
    padding-left: 20px;
    transition: all 0.2s ease-in-out;
}

.content-body.rolled-up {
    display: none;
}

.indent[level="0.5"] {
    padding-left: 0.5em;
}

.indent[level="1"] {
    padding-left: 1em;
}

.indent[level="2"] {
    padding-left: 1.5em;
}

.indent[level="3"] {
    padding-left: 2em;
}

.title-area {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.title-area > .date {
    position: relative;
    top: 2px;
    align-content: center;
}

.title-area.with-subtitle {
    display: block;
}

.repo img{
    width: 100%;
}

.sub-title {
    display: flex;
    color: var(--abnormal-color);
    margin-left: 0px;
}

.block {
    display: block;
}

.inline {
    display: inline-block;
}

.flexbox {
    display: flex;
    align-items: center;
}

.inline-flexbox {
    display: inline-flex;
}

.skills-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 16px 12px;
}

.label-cell {
    font-weight: bold;
    white-space: nowrap;

    vertical-align: top;
}

.division-name {
    font-weight: 400;
    font-size: 1.1em;
}

.title {
    margin-top: 10px;

    font-weight: 700;
    font-size: 1.2em;
}

.text-multiline {
    line-height: 1.5;
}

.text-align-right {
    text-align: right;
}

.align-right {
    justify-content: flex-end;
}

.stack-container {
    margin-top: 8px;
}

.content > p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
}

.participants {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.1em;
}
.participants a[href^="http"], 
.participants a[href^="https"], 
.participants a[href^="//"] {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.participants a[href^="http"]::after, 
.participants a[href^="https"]::after, 
.participants a[href^="//"]::after {
    content: "";
    display: relative;
    width: 16px;
    height: 16px;
    margin-left: 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -2 21 20'%3E%3Cpath d='M19.7578,7.6885Q21.2344,6.1065,21.2344,4.0674Q21.2344,2.0635,19.7578,0.4815Q18.3867,-0.8193,16.5586,-0.9951Q14.7656,-1.1357,13.2188,-0.0459L13.1484,-0.0107Q12.7617,0.2705,12.6914,0.7275Q12.6211,1.1494,12.9023,1.5713Q13.1836,1.9229,13.6055,1.9932Q14.0625,2.0986,14.4492,1.8174L14.5195,1.7822Q15.3984,1.1846,16.3828,1.2549Q17.4023,1.3252,18.1758,2.0635Q18.9844,2.9424,18.9844,4.0674Q18.9844,5.2275,18.1758,6.0713L14.2031,10.044Q13.3242,10.8526,12.1992,10.8526Q11.0742,10.8526,10.1953,10.044Q9.45703,9.2705,9.38672,8.251Q9.31641,7.2666,9.91406,6.3877L9.94922,6.3174Q10.1953,5.9307,10.125,5.5088Q10.0547,5.0518,9.66797,4.7705Q9.28125,4.4893,8.85938,4.5596Q8.40234,4.6299,8.12109,5.0166L8.08594,5.0869Q6.99609,6.6338,7.13672,8.4619Q7.27734,10.2549,8.61328,11.626Q10.1953,13.1026,12.1992,13.1026Q14.2383,13.1026,15.8203,11.626L19.7578,7.6885ZM1.47656,6.8447Q0,8.4268,0,10.4658Q0,12.4697,1.47656,14.0518Q2.84766,15.3525,4.67578,15.5283Q6.46875,15.669,8.05078,14.5791L8.08594,14.544Q8.47266,14.2627,8.54297,13.8057Q8.61328,13.3838,8.36719,12.9619Q8.05078,12.6104,7.62891,12.5401Q7.17188,12.4346,6.78516,12.7158L6.71484,12.751Q5.83594,13.3486,4.85156,13.2783Q3.83203,13.208,3.05859,12.4697Q2.25,11.5908,2.25,10.4658Q2.25,9.3057,3.09375,8.4619L7.03125,4.4893Q7.91016,3.6807,9.03516,3.6807Q10.1602,3.6807,11.0391,4.4893Q11.7773,5.2627,11.8477,6.2822Q11.918,7.2666,11.3203,8.1455L11.2852,8.2158Q11.0391,8.6025,11.1094,9.0596Q11.1797,9.4814,11.5664,9.7627Q11.9531,10.044,12.375,9.9736Q12.832,9.9033,13.1133,9.5166L13.1484,9.4463Q14.2383,7.8994,14.0977,6.0713Q13.957,4.2783,12.6211,2.9072Q11.0391,1.4307,9.03516,1.4307Q6.99609,1.4307,5.44922,2.9072L1.47656,6.8447Z' fill='%232A78CC'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

.experience-item {
    margin-bottom: 20px;
}

.folding-circle {
    border-radius: 50%;
    background-color: #000;
    transition: all 0.2s ease-in-out;
    min-width: fit-content;
}

.folding-circle:hover {
    cursor: pointer;
    background-color: var(--link-color);
    transition: all 0.2s ease-in-out;
}

.folding-circle > svg {
    fill: var(--label-color);
    position: relative;
    bottom: -1px;
}

.folding-circle.folded {
    transform: rotate(-90deg);
    background-color: var(--link-color);
    /* transition: transform 0.3s ease; */
}

.projects-table {
    width: 100%;
    border-collapse: collapse;
}

.projects-table th {
    font-weight: bold;
    text-align: left;
    padding: 10px;
}

.projects-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
}

.projects-table img {
    display: block;
    max-width: 100%;
}