level {
    padding: 2px 7px;
    border-radius: 50%;
    font-size: 0.5em;
    margin-right: 3px;
}

level[level="1"] {
    background-color: var(--level-1);
}

level[level="2"] {
    background-color: var(--level-2);
}

level[level="3"] {
    background-color: var(--level-3);
}

level[level="4"] {
    background-color: var(--level-4);
}

level[level="5"] {
    background-color: var(--level-5);
}

strength {
    color: var(--label-color);
    font-weight: 400;
    text-shadow: #686868 0px 0px 1px;
    width: 100%;
    border-radius: 30px;
    padding: 2px 11px;
    margin-bottom: 8px;
    margin-right: 2px;
}

strength:hover {
    cursor: pointer;
}

strength[level="5"] {
    background-color: var(--level-5);
}

strength[level="4"] {
    background-color: var(--level-4);
}

strength[level="3"] {
    background-color: var(--level-3);
}

strength[level="2"] {
    background-color: var(--level-2);
}

strength[level="1"] {
    background-color: var(--level-1);
}

strength[level="0"] {
    background-color: var(--level-0);
}

highlight {
    background-color: yellow;
}

toggle-button {
    cursor: pointer;
}

toggle-button > svg > circle {
    transition: transform 0.1s ease;
}

toggle-button > svg > circle.active {
    transform: translateX(calc(100% - 12px));
    transition: transform 0.1s ease;
}