@font-face {
    font-family: 'Roboto Condensed';
    src: url('/assets/fonts/Roboto_Condensed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('/assets/fonts/Roboto_Condensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('/assets/fonts/Roboto_Condensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: var(--normal-color);
}

:root {
    --background-color: #ffffff;

    --button-style-0-background-color: #daebfc;
    --button-style-0-background-color-hover: #e7f2fe;
    --button-style-1-background-color: #c5e1ff;
    --button-style-1-background-color-hover: #1f3955;
    
    --button-theme-background-color: #a1cdfc;
    --button-theme-color-hover: #939df9;
    --button-theme-color-hover-drop-shadow: #939df9;

    --normal-color: #393939;
    --abnormal-color: #525252;
    --section-line-color: #515151;
    --section-color-hover: #f5f5f5;
    --link-color: #2A78CC;
    --label-color: #FFFFFF;
    --highlight-text-color: #393939;
    --level-5: #FFCF2A;
    --level-4: #FF5959;
    --level-3: #B257DF;
    --level-2: #2A78CC;
    --level-1: #9BDC86;
    --level-0: #c5c5c5;
    
    --standard-padding: 16px;
}

:root.dark-mode {
    --background-color: #1e1e1e;

    --button-theme-background-color: #fff1c5;
    --button-theme-color-hover: #ffba4b;
    --button-theme-color-hover-drop-shadow: #ffba4b;

    --normal-color: #ffffff;
    --abnormal-color: #c5c5c5;
    --section-line-color: #585550;
    --section-color-hover: #272727;
    --highlight-text-color: #393939;
    --link-color: #2A78CC;
    --label-color: #FFFFFF;
    --level-5: #FFCF2A;
    --level-4: #FF5959;
    --level-3: #B257DF;
    --level-2: #2A78CC;
    --level-1: #9BDC86;
    --level-0: #c5c5c5;
}

header {
    text-align: center;
    font-weight: 700;
    font-size: 2.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

html {
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}

body {
    width: 210mm;
    padding: var(--standard-padding);
}

h1 {
    font-weight: 700;
    font-size: 2em;
}

h2 {
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 10px;
}

h3 {
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 4px;
}

p {
    margin-left: 1em;
    text-align: justify;
    line-height: 1.5;
}

a {
    font-weight: 700;
    color: var(--link-color);
}

time {
    font-weight: 400;
    color: var(--abnormal-color);
}

#dark-mode-button {
    background-color: var(--button-theme-background-color);
}

#dark-mode-button > svg > path {
    transition: all 0.2s ease-in-out;
}

#dark-mode-button:hover > svg > path {
    fill: var(--button-theme-color-hover);
    filter: drop-shadow(0 0 3px var(--button-theme-background-color));
    transition: all 0.2s ease-in-out;
}

#contact-email {
    position: relative;
    /* bottom: 1px; */
}

#contact-email > * {
    font-weight: 400;
    fill: var(--link-color);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1e1e1e;
        --normal-color: #ffffff;
        --abnormal-color: #c5c5c5;
        --section-line-color: #585550;
        --section-color-hover: #272727;
        --highlight-text-color: #000;
        --link-color: #2A78CC;
        --label-color: #FFFFFF;
        --level-5: #FFCF2A;
        --level-4: #FF5959;
        --level-3: #B257DF;
        --level-2: #2A78CC;
        --level-1: #9BDC86;
        --level-0: #c5c5c5;
    }
} */