<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
    <body>
        <div id = 'main'>
            <header><a href = '/'>UNIVERSE</a></header>
            <div id = "content" class = "post-item">{{ content }}</div>
            <h2>Lateast posts</h2>

            {% if paginator.posts %}
                {% for post in paginator.posts %}
                    {% include list-posts.html post=post %}
                {% endfor %}
                {% include paginator.html %}
            {% else %}
                {% for post in site.posts limit:site.paginate %}
                    {% include list-posts.html post=post %}
                {% endfor %}
            {% endif %}

            <footer>푸터풋ㅌㅋㅋ</footer>
        </div>
    </body>
</html>